.project_body{
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    margin-left: 1rem;
    margin-bottom: 6rem;
}
.proj_heading{
    margin: 4rem 0 0 1rem;
    padding-left: 0px;
    text-align: start;  
    font-family: Croissant One, cursive;
    font-size: 3.5rem;
    color: #fff;
}

@media screen and (max-width: 700px) {
    .project_body{
      position: relative;
      align-items: center;
      margin-left: 0;
      padding-top: 2rem;
    }  
    .proj_heading{
        width: 23rem;
        text-align: center;
    }
   
}
@media screen and (min-width: 701px) and (max-width: 1324px){
    .project_body{
      position: relative;
      align-items: center;
      margin-left: 0;
    }  
}
.heading_text1{
    font-size: 55px;
    color: white;
    font-family: 'Croissant One', cursive;
 }
.heading_text2{
    color: #28e98c;
}

@media screen and (max-width: 700px) {
    .heading_text1{
        font-size: 30px;
    }
}
@media screen and (min-width: 701px) and (max-width: 1324px){
    .heading_text1{
        font-size: 50px;
    }
}