.body{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding-top: 4rem;
    margin-bottom: 6rem;

}

.headText{
    /* font-size: 55px;
    color: white;
    font-family: 'Croissant One', cursive;
    text-align: left;
    padding-top: 60px;
    margin-left: 3.5rem; */
    margin: 4rem 0 0 1rem;
    padding-left: 0px;
    text-align: start;  
    font-family: Croissant One, cursive;
    font-size: 3.5rem;
    color: #fff;
}
.skillText{
    margin-top: 4rem;
    /* margin-left: 4.5rem; */
    margin-left: 2rem;
    color: hsl(60, 1%, 63%);
    text-align: start;
    font-size: 2rem;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 600;
}

.sk1_content{
    margin-top: 3rem;
    /* margin-left: 4.5rem; */
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.headText1_W1{
    font-size: 55px;
    color: white;
    font-family: 'Croissant One', cursive;
}
.headText1_W2{
    color: #28e98c;
    /* font-family: 'Croissant One', cursive; */
}
@media screen and (min-width: 701px) and (max-width: 1324px){
    .body{
      position: relative;
      align-items: center;
      margin-left: 0;
    }  
    /* .sk1_content{
        flex-direction: column;
        margin-left: 0;
    } */
    .skillText{
        font-size: 40px;
        margin-left: 0;
        margin-top: 5rem;
    }
    .headText1_W1{
        font-size: 50px;
    }
    .sk1_content{
        margin-left: 0;
        width: 80vw;
    }
}

@media screen and (max-width: 700px) {
    .body{
        position: relative;
        align-items: center;
        /* margin-left: 0; */
        padding-top: 2rem;
    }
    .headText{
        width: 23rem;
        text-align: center;
    }
    .sk1_content{
        flex-direction: column;
        margin-left: 0;
        margin-top: 1rem;
    }
    .skillText{
        font-size: 25px;
        margin-left: 0;
        margin-top: 3rem;
    }
    .headText1_W1{
        font-size: 35px
    }
}


