.introBody{
    display: flex;
    flex-direction: column; 
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 6rem;
    color: white;
    position: relative;
    padding-top: 6rem;
}
.Myself{
    margin: 4rem 0 0 1rem;
    padding-left: 0px;
    text-align: start;
}
.head_text1{
    font-size: 70px;
    color: white;
    font-family: 'Croissant One', cursive;
 }

 .head_text2{
    color: #28e98c;
    font-family: 'Croissant One', cursive;
 }

.caption_text{
    text-align: start;
    color: hsl(60, 1%, 63%);
    margin-top: 3rem;
    margin-left: 1.1rem;
    font-size: 16px;
    font-family: 'Croissant One', cursive;
}

@media screen and (max-width: 700px) {
    .introBody{
        position: relative;
        align-items: center;
        margin-left: 0;
        padding-top: 2rem;
    }
    .Myself{
        margin-left: 0;
        margin-top: 3rem;
        text-align: center;
        width: 25rem 
    }
    .head_text1{
        font-size: 30px;
    }
   .IntroCaption{
        width: 20rem;
   }
    .caption_text{
        text-align: center;
        font-size: 18px;
        margin-left: 0;
    }
}

@media screen and (min-width: 701px) and (max-width: 1324px){
    .introBody{
        position: relative;
        align-items: center;
        margin-left: 0;
        padding-top: 2rem;
    }
    .Myself{
        margin-left: 0;
        margin-top: 3rem;
        text-align: center;
    }
   
    .caption_text{
        text-align: center;
        font-size: 30px;
        margin-left: 0;
   } 
   .head_text1{
    font-size: 50px;
   }
  }