/* @import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap'); */


.journey_body{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding-top: 4rem;
    margin-bottom: 6rem;   
}
.jrny_heading{
    margin: 4rem 0 0 1rem;
    padding-left: 0px;
    text-align: start;
}
.j_msg{
    color: white;
    margin: 1rem 0 0 1rem;
    padding-left: 0px;
    text-align: start; 
}
.jrny_heading{
    font-size: 70px;
}
.jrny_text{
    color: hsl(60, 1%, 63%);
    margin-top: 2rem;
    font-size: 19px;
    font-family: 'Signika Negative', sans-serif;
}
@media screen and (max-width: 700px) {
    .journey-body{
      position: relative;
      align-items: center;
      margin-left: 0;
      padding-top: 2rem;
    }
    .jrny_heading{
        margin-left: 0;
        margin-top: 2rem;
    }
    .j_msg{
        text-align: centre;
        margin-left: 0;
        margin-top: 0;
    }
    .jrny_text{
        padding: 1rem;
        font-size: 20px;
        text-align: center;
        width: 20rem;
    }
  }

  
  @media screen and (min-width: 701px) and (max-width: 1324px){
    .journey_body{
      position: relative;
      align-items: center;
      margin-left: 0;
    }
    .j_msg{
        text-align: centre;
    }
    .jrny_text{
        padding: 1rem;
        font-size: 25px;
        text-align: center;
        width: 40rem;
    }
  }

.heading_text1{
    font-size: 55px;
    color: white;
    font-family: 'Croissant One', cursive;
 }
.heading_text2{
    color: #28e98c;
}

@media screen and (max-width: 700px) {
    .heading_text1{
        font-size: 30px;
    }
    .journey_body{
        align-items: center;
    }
}
@media screen and (min-width: 701px) and (max-width: 1324px){
    .heading_text1{
        font-size: 50px;
    }
}















