body{
  background-color: #202022;
  padding-left: 0rem;
  margin: 0;
}
.App{
  text-align: center;
  scroll-behavior: smooth;
  display: grid;
  grid-gap: 3rem;
  grid-template-areas: "sidebar main toc";
  grid-template-columns: minmax(0,1.2fr) minmax(0,2.5fr) minmax(0,13rem);
  padding: 0 10px;
}
/* .page-loader{
  margin-top: 46vh;
  margin-left: 48vw;
  height: 100%;
  width: 100%;
} */
.navbar{
  display: flex;
}
.res_navBar{
  display: none;
}
.mainContent{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1325px){
  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar{
    display: none;
  }
  .res_navBar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .page-loader{
    margin-top: 46vh;
    margin-left: 0.5vw;  
    
  } */
}