body{
  background-color: #202022;
  padding-left: 0rem;
  margin: 0;
}
.App{
  text-align: center;
  scroll-behavior: smooth;
  display: grid;
  grid-gap: 3rem;
  grid-template-areas: "sidebar main toc";
  grid-template-columns: minmax(0,1.2fr) minmax(0,2.5fr) minmax(0,13rem);
  padding: 0 10px;
}

.mainContent{
  display: flex;
  flex-direction: column;
}
